
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
    <div class="error-container">
        <div class="lottie-animation"></div>
        <div class="error-content">
            <h1>Error!</h1>
            <p>Oops! Product Not Found :(</p>
            <a href="#" class="btn btn-primary">Go Back!</a>
        </div>
    </div>
</body>
</html>
